<div class="flex flex-col gap-4 p-4 w-3/4 lg:w-2/3 mx-auto">
  <p-button
    (onClick)="addUser()"
    label="เพิ่มผู้ใช้"
  />

  <div class="flex flex-col gap-2">
    <h6>จำนวนผู้ใช้ทั้งหมด {{ count | number }} คน</h6>
    <div class="flex flex-row gap-2 items-center">
      <input
        [(ngModel)]="criteria.fullNameLike"
        class="flex-1"
        type="text"
        pInputText
        placeholder="ค้นหา"
      />
      <p-button
        (onClick)="getUsers()"
        label="ค้นหา"
      />
      <p-button
        (onClick)="criteria.fullNameLike = ''; getUsers()"
        severity="danger"
        label="clear"
      />
    </div>
  </div>

  @if (page) {
    <div class="card">
      <!-- (onLazyLoad)="getUsers($event)" -->
      <p-table
        [totalRecords]="page.totalElements!"
        [lazy]="true"
        [value]="users"
        [rowsPerPageOptions]="[10, 25, 50]"
        [paginator]="true"
        [showCurrentPageReport]="true"
        [rows]="10"
        [loading]="loading"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>คำนำหน้า ชื่อ นามสกุล</th>
            <th>วันเกิด</th>
            <th>Active</th>
            <th></th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template
          pTemplate="body"
          let-user
        >
          <tr [class.deleted]="user.isDeleted">
            <td>{{ user.title }} {{ user.firstName }} {{ user.lastName }}</td>
            <td>{{ user.birthDate | thaiDate }}</td>
            <td>
              <p-toggleButton
                (onChange)="onUpdateActive(user)"
                [(ngModel)]="user.isActive"
                onLabel="Active"
                offLabel="Deactive"
              />
            </td>
            <td>
              <i
                (click)="edit(user.id)"
                class="mb-i mb-i-edit-outline cursor-pointer"
              ></i>
            </td>
            <td>
              <i
                (click)="delete(user.id)"
                class="mb-i mb-i-delete-outline cursor-pointer"
              ></i>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="4">No customers found.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  }
</div>
