th {
    text-wrap: nowrap;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 500;
}

tr {
    text-wrap: nowrap;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 300;
}